@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

:root {
  --color-background: #FAF9F9;
  --color-foreground: #1D1E2C;
  --color-white: #FAF9F9;
  --color-dark: #555B6E;
  --color-primary:#89B0AE;
  --color-secondary:#BEE3DB;
  --color-highlight: #FFD6BA;
  --color-danger: #FF495C;
}

body {
  font-family: Sora, arial;
  font-weight: 400 !important;
  background-color: var(--color-background) !important;
  color: var(--color-foreground) !important;
  margin: 0 5% !important;
}

header {
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 20px 0;
}

nav {
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--color-foreground);
  font-weight: 300;
}

nav a:hover,
nav a.router-link-active {
  margin: 0 19.7px;
  font-weight:400;
}

main {
  height: 100%;
}

.dashboard {
  display: flex;
  flex-flow: column;
}

/* =========================== TRANSACTIONS ============================ */
.transactions {
  flex: 1 1 auto;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 5px;
  overflow-y: scroll;
  max-height: 75vh;
}

.transaction .logo img,
.transaction .logo svg {

  height: 25px;
  width: 25px;
}

.transaction .value {
  text-align: right;
}

.transaction .sum {
  color: green;
}

.transaction .debt {
  color: red;
}

.transaction .category {
  text-align: right;
}

