@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

:root {
  --color-background: #f4f6fd;
  --color-foreground: #1D1E2C;
  --color-white: #FAF9F9;
  --color-dark: #555B6E;
  --color-primary:#89B0AE;
  --color-secondary:#BEE3DB;
  --color-highlight: #FFD6BA;
  --color-danger: #FF495C;
}

body {
  font-family: Sora, arial;
  font-weight: 400 !important;
  background-color: var(--color-background) !important;
  color: var(--color-foreground) !important;
  margin: 0 5% !important;
}

header {
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 20px 0;
}

nav {
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--color-foreground);
  font-weight: 300;
}

nav a:hover,
nav a.router-link-active {
  margin: 0 19.7px;
  font-weight:400;
}

main {
  height: 100%;
}

.subtitle {
  margin-top: 0;
}

.dashboard {
  display: flex;
  flex-flow: column;
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--color-white);
}

/* =========================== TRANSACTIONS ============================ */
.transactions {
  flex: 1 1 auto;
  height: 40vh;
  max-width: 45%;
}

.transactions .transactions-table {
  overflow: auto;
  height: 85%;
}

.transactions .transactions-table table {
  border-collapse: collapse;
  width: 100%;
}

.transaction {
  height: 40px;
  width: 100%;
}

.transaction td {
  padding: 10px 0;
}

.transaction .description-date {
  display: flex;
  flex-direction: column;
}

.transaction .description-date .date {
  font-size: 0.8em;
  color: grey;
}

.transaction .value {
  text-align: right;
}

.transaction .sum {
  color: green;
}

.transaction .debt {
  color: red;
}

.transaction .logo img,
.transaction .logo svg {
  margin: 0 10px;
  height: 35px;
  width: 35px;
}
