@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

:root {
  --color-background: #f4f6fd;
  --color-foreground: #1D1E2C;
  --color-white: #FAF9F9;

  /* --color-dark: #555B6E; */
  --color-dark: #212738;

  --color-primary: #227C9D;
  --color-primary-highlight: #1B6782;

  /* --color-secondary: #7BD389; */
  --color-secondary: #26B03D;
  --color-secondary-highlight: #1F8E32;

  --color-highlight: #FFCB77;

  --color-danger: #FB3640;
  --color-danger-highlight: #C72B33;

  --color-green-500: #14591D;
}


/* =========================== GLOBAL STUFF ============================ */

h3 {
  margin-top: 0;
}

body {
  font-family: Sora, arial;
  font-weight: 400 !important;
  background-color: var(--color-background) !important;
  color: var(--color-foreground) !important;
  margin: 0 5% !important;
}

.subtitle {
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  height: 85vh;
  width: 100%;
}

.row {
  display:flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}

.width-50 {
  width: 40%;
}

.height-100 {
  height: 100%;
}

.height-50 {
  height: 50%;
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--color-white);
}

input[type=text] {
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-dark);
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px 0;
}

input[type=text]:hover {
  background-color: var(--color-background);
}

input[type=text]:focus-visible {
  outline-color: var(--color-primary);
}

input[type=submit] {
  background-color: var(--color-primary);
  padding: 10px 20px;
  color: var(--color-white);
  border:none;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--color-primary-highlight);
}

button {
  background-color: var(--color-primary);
  padding: 5px 10px;
  color: var(--color-white);
  margin: 5px 0;
  cursor: pointer;
  font-size: 0.8em;
  border: 1px solid var(--color-primary-highlight);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-highlight);
}

button.edit{
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary-highlight);
}

button.edit:hover {
  background-color: var(--color-secondary-highlight);
}

button.delete {
  background-color: var(--color-danger);
  border: 1px solid var(--color-danger-highlight);
}

button.delete:hover {
  background-color: var(--color-danger-highlight);
}
/* =========================== HEADER ============================ */

header {
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 20px 0;
}

nav {
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--color-foreground);
  font-weight: 300;
}

nav a:hover,
nav a.router-link-active {
  margin: 0 19.7px;
  font-weight:400;
}

main {
  height: 100%;
}


/* =========================== TRANSACTIONS ============================ */
.transactions {
  width: 60%;
}

.transactions .transactions-table {
  padding-right: 1em;
  overflow: auto;
  height: 90%;
}

.transactions .transactions-table table {
  border-collapse: collapse;
  width: 100%;
}

.transaction {
  height: 40px;
  width: 100%;
}

.transaction td {
  padding: 10px 0;
}

.transaction .description-date {
  display: flex;
  flex-direction: column;
}

.transaction .description-date .date {
  font-size: 0.8em;
  color: grey;
}

.transaction-category select {
  padding: 5px;
  border-color: lightgrey;
  border-radius: 5px;
}

.transaction-category select:focus-visible {
  outline-color: grey;
}

.transaction-category select:disabled {
  color: lightgrey;
}

.transaction-category select .no-category {
  color: lightgrey;
}

.transaction .value {
  text-align: right;
}

.transaction .sum {
  color: var(--color-secondary);
}

.transaction .debt {
  color: var(--color-danger);
}

.transaction .logo img,
.transaction .logo svg {
  margin: 0 10px;
  height: 35px;
  width: 35px;
}

/* =========================== CATEGORIES ============================ */

.categories-sum {
  flex-grow: 1;
}

.categories-sum .categories-sum-table {
  width: 100%;
  padding-right: 1em;
  height: 90%;
  overflow: auto;
}

.categories-sum .categories-sum-table table {
  width: 100%;
  padding: 0 20px;
}

.category-sum .category-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;

}

/* =========================== PROGRESS BAR ============================ */

.progress-bar {
  display:flex;
  flex-direction: column;
  width: 100%;
}
.progress-bar .line {
  display: block;
  background-color: lightgrey;
  border: 1px solid lightgrey;
  width: 100%;
  margin: 10px 0;
  height: 3px;
  border-radius: 5px;
}

.progress-bar .line .color-line {
  position:relative;
  border: 1px solid var(--color-dark);
  height: 3px;
  border-radius: 5px;
  bottom:1px;
  right: 1px;
}

.end-point {
  position: relative;
  bottom: 8px;
  left: 8px;
  float: right;
  border-radius: 100px;
  height: 16px;
  width: 16px;
  background-color: var(--color-white);
  border: 2px solid var(--color-dark);
}

.end-point-inner {
  position: relative;
  bottom: -3px;
  left: -3px;
  float: right;
  border-radius: 100px;
  height: 8px;
  width: 8px;
}

.progress-bar .values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-bar .values div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress-bar .values .limit{
  align-items: end;
}

.progress-bar .values div .label {
  color: lightgrey;
  font-size: 0.8em;
}

/* =========================== CATEGORY CREATE ============================ */

.category-create {
  height: 28%;
}
.category-create .category-create-form {
  padding: 20px 0;
}

.category-create .category-create-form .name {
  display: flex;
  flex-direction: column;
}

.category-create .category-create-form .submit-bt {
  display:flex;
  justify-content: flex-end;
}


/* =========================== LIST CATEGORY ============================ */
.list-categories {
  height: 58%;
}

.categories {
  overflow:auto;
  height: 88%;
}

.categories table {
  width: 100%;
}

.category td {
  padding: 10px 0;
}

.category .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
